@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

.App {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255,121,120);
}

.wallpaper {
  background: url('../public/bg-intro-desktop.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.section-wrapper {
  height: calc(100vh - 24px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* justify-items: center; */
}

section:nth-child(1) {
  padding: 100px;
  color: white;
}

section:nth-child(1) h1{
  font-size: 50px;
  line-height: 52px;
}

section:nth-child(1) p{
  line-height: 30px;
}


section:nth-child(2) {
  width: 80%;
}

section:nth-child(2) h3 {
   background-color: #5D54A3;
   color: white;
   text-align: center;
   padding-top: 16px;
   padding-bottom: 16px;
   border-radius: 12px;
   box-shadow: 0px 8px 1px #D86466;
   font-size: 16px;
   margin-bottom: 30px;
}

.lighter {
  font-weight: 300;
}

form {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 8px 1px #D86466;
  padding: 24px 40px;
}

form > input{
  /* display: block; */
  padding: 18px 0px 18px 20px;
  width: calc(100% - 20px);
  margin: 18px auto;
  border: 1px solid rgb(175, 174, 174);
  border-radius: 4px;
  outline-width: 0;
  font-size: 16px;
}

form > input::placeholder{
  font-weight: 600;
}

form > input:focus{
  border: 2px solid hsl(246, 25%, 77%);
}

.errorBorder {
  border: 2px solid rgb(255,121,120);
  margin: 0;
  
}

section:nth-child(2) button {
  background-color: #37CC8A;
  width: 100%;
  padding: 18px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 1px #279463;
  margin-top: 18px;
}

section:nth-child(2) button:hover {
 background-color: #77E2B4;
 cursor: pointer;
 box-shadow: 0px 4px 1px #3bb981;
}

form > h4 {
  font-size: 12px;
  text-align: center;
  margin-top: 16px;
  color: rgb(175, 174, 174);
  font-weight: 400;
}

form > h4 > a {
  text-decoration: none;
  color: rgb(255,121,120);
  font-weight: 600;
}

form > p {
  text-align: right;
  color: rgb(255,121,120);
  margin: -12px;
  margin-right: 4px;
  font-size: 12px;
  position: relative;
  bottom: 20px;
}

form > img {
  position: relative;
  bottom: 42px;
  left: 480px;
}

h5 {
  text-align: center;
  font-weight: 700px;
}

footer {
  text-align: center;
  color: white;
  height: 16px;
  position: relative;
  bottom: 50px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.attribution {
  margin: 0px;
}